@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Rubik&display=swap');

/* font-family: 'Karla', sans-serif;
font-family: 'Rubik', sans-serif; */
:root {
    --bg-color: #E3EEF8;
    --text-color-bold: #1F1F1F;
    --text-color: #666666;
}
html {
    font-size: 62.5%;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Karla', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    background-color: var(--bg-color);
}
#header {
    padding: 2.5rem 0;
}
.navbar .button button {
    font-size: 1.6rem;
    font-weight: 700;
}
.navbar-brand {
    margin-right: 2rem;
}
.navbar-nav {
    margin-top: 5px;
}
.nav-item .nav-link {
    color: var(--text-color-bold);
    font-weight: 700;
}
#hero {
    padding-top: 8rem;
}
.hero-text {
    max-width: 665px;
    margin: 0 auto;
    text-align: center;
    padding: 0 1.5rem;
}
.hero-text h5 {
    font-size: 1.5rem;
    color: var(--text-color);
    font-weight: 700;
    letter-spacing: 2.8125px;
    text-transform: uppercase;
    line-height: 1.8rem;
}

.hero-text h1 {
    font-size: 7rem;
    color: var(--text-color-bold);
    font-weight: 700;
    line-height: 7rem;
    margin: 2rem 0;
}
.hero-text p {
    max-width: 520px;
    margin: 2rem auto;
    font-size: 2rem;
    line-height: 3.6rem;
    letter-spacing: -0.4px;
    color: var(--text-color);
}
.hero-text form input {
    font-size: 2rem;
    padding: 0.5rem 2rem;
    border: none;
    outline: none;
    margin-right: 10px;
    border-radius: 5px;
}
.hero-text form button {
    font-size: 2rem;
    margin-top: -5px;
    background: #FC593B;
    color: #fff;
    font-weight: 700;
}
#about {
    padding: 6rem 0;
}
#about .card {
    border: none;
    background-color: transparent;
}
#about .card .icon {
    text-align: right;
    padding: 1rem;
}
#about .card .icon i {
    font-size: 3.6rem;
    color: #258AFF;
}
#about .card-body .card-title {
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-color-bold);
    line-height: 3.2rem;
}
#about .card-body .card-text {
    
    color: var(--text-color);
}
#presentation-one {
    background-color: #258AFF;
    padding: 5rem 0;
}
.app-img {
    text-align: center;
}
.app-img img {
    width: 75%;
}

.app-text h5 {
    font-weight: 700;
    letter-spacing: 0.2rem;
}
.app-text h2 {
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 1;
}
.app-text p {
    font-size: 1.8rem;
    color: #E4E4E4;
}
.app-text button {
    background: #fff;
    color: #258AFF;
    font-size: 1.6rem;
    font-weight: 700;
}
#presentation-two {
    padding: 10rem 0;
}
#presentation-two .building {
    max-width: 32.5rem;
}
#presentation-two .feature-text .icon {
    width: 6rem;
    height: 6rem;
}
#presentation-two .feature-text .icon i {
    font-size: 3rem;
}
#testimonial {
    padding: 10rem 0;
}